// @font-face {
// 	font-family: 'Euclid Circular A';
// 	src: local('Euclid Circular A Light'), local('EuclidCircularA-Light'),
// 	url('../fonts/Euclid Circular A/EuclidCircularA-Light.ttf') format('truetype');
// 	font-weight: 300;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Euclid Circular A';
// 	src: local('Euclid Circular A Regular'), local('EuclidCircularA-Regular'),
// 	url('../fonts/Euclid Circular A/EuclidCircularA-Regular.ttf') format('truetype');
// 	font-weight: 400;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Euclid Circular A';
// 	src: local('Euclid Circular A Medium'), local('EuclidCircularA-Medium'),
// 	url('../fonts/Euclid Circular A/EuclidCircularA-Medium.ttf') format('truetype');
// 	font-weight: 500;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Euclid Circular A';
// 	src: local('Euclid Circular A SemiBold'), local('EuclidCircularA-SemiBold'),
// 	url('../fonts/Euclid Circular A/EuclidCircularA-SemiBold.ttf') format('truetype');
// 	font-weight: 600;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Euclid Circular A';
// 	src: local('Euclid Circular A Bold'), local('EuclidCircularA-Bold'),
// 	url('../fonts/Euclid Circular A/EuclidCircularA-Bold.ttf') format('truetype');
// 	font-weight: 700;
// 	font-style: normal;
// }

@font-face {
	font-family: "Helvetica Neue";
	font-weight: 400;
	src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"),
	  url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
}